
* {
    font-family: 'Archivo';
}

.logo img {
    margin-top: 6px;
    height: 30px;
}

/* .title {
    letter-spacing: -2px;
    font-weight: 800;
} */

.shesh {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.shesh option:hover {
    background-color: #e0e0e0;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


.profile .box-container{
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1000px;
 }
 
 .profile .box-container .empty{
    flex:1;
 }
 
 
 .profile .box-container .box{
    flex:1 1 40rem;
    padding: 2rem;
    border:var(--border2);
    background-color: var(--light-bg);
    padding:2rem 2rem;
 }
 
 .profile .box-container .box p{
    padding:1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    color:var(--hd);
 }
 
 .profile .box-container .box p span{
    color:var(--gang);
 }


.products .box-container-2 .categor {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    color:var(--hd);
 }

 .products .box-container-2 .categor a{
    text-align: center;
    padding:1rem 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color:var(--hd);
 }

 .categor a.underline {
    text-decoration: underline;
    text-underline-offset: 0.4em;
 }

 .categor a.inactive {
    color: gray;
    text-decoration: none; /* Remove underline from inactive links */
 }


 .ddd {
    padding: 10px;
    width: 100%;
 }

 .shs {
    margin-bottom: 1.5rem;
    border: var(--light-white) 1px solid;
 }


 .products-2 .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   align-items: flex-start;
   gap:1.5rem;
   justify-content: center;
   transition: transform 0.5s ease;
   padding-bottom: 20px;
}

.products-2 .box-container .box{
   /* border-radius: .5rem; */
   background-color: var(--white);
   /* box-shadow: var(--box-shadow); */
   padding:1rem;
   text-align: center;
   /* border:var(--border); */
   position: relative;
}

.products-2 .box-container .box .image{
   height: 30rem;
}

.products-2 .box-container .box:hover .image{
   height: 30rem;
}


.products-2 .box-container .box .name{
   padding: 0.2rem 0;
   font-size: 1.2rem;
   font-weight: 500;
   text-align: left;
   text-transform: uppercase;
   color:var(--black);
}

.products-2 .box-container .box .qty{
   width: 100%;
   padding:1.2rem 1.4rem;
   border-radius: .5rem;
   /* border:var(--border); */
   margin:1rem 0;
   font-size: 2rem;
}

.products-2 .box-container .box .price{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   padding:1rem;
   font-size: 2rem;
   color:var(--white);
   background-color: var(--gang);
}